<div class="jumbotron">
    <div class="container">
        <h1>Bonjour !</h1>
        <p>Vous voulez savoir si c'est un bon plan ? Veuilez entrer l'url du bon coin de votre annonce svp ! </p>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6">
                <form method="get" action="/process">
                    <div class="row">
                        <div class="col-xs-8 col-sm-9">
                            <input type="text" class="form-control" name="lbcUrl" placeholder="https://www.leboncoin.fr">
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <button type="submit" class="btn btn-default">Résultat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>