<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/navbar %>

        <main>

            <% include ../partials/form %>

                <div class="container mg-b-20">
                    <% include ../partials/result %>
                </div>

        </main>

</body>

</html>